

name: Node.js CI/CD

on:
  push:
    branches: [ "master" ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install dependencies
        run: sudo npm install
        working-directory: /var/www/healnova/HospitalManageMentFrondEnd

      - name: Build project
        run: sudo npm run build
        working-directory: /var/www/healnova/HospitalManageMentFrondEnd

      - name: Restart Nginx
        run: sudo systemctl restart nginx
