

name: Node.js CI/CD

on:
  push:
    branches: [ "master" ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Build project
        run: |
          npm install
          npm run build

      - name: Deploy to web directory
        run: |
          rsync -avz dist/ /var/www/healnova/HospitalManageMentFrondEnd/
          
      - name: Restart Nginx
        run: sudo systemctl restart nginx
